<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0"  
    android:installLocation="auto" package="com.examw.netschool" >

    <uses-sdk android:minSdkVersion="9"  android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application android:name=".app.AppContext" android:allowBackup="true"
        android:icon="@drawable/app_logo" android:label="@string/app_name" android:theme="@style/AppTheme" >
        
         <!-- 启动Activity -->
         <activity android:name=".StartActivity" android:label="@string/app_name" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
        
         <!-- 引导页Activity -->
         <activity android:name=".GuideActivity" android:screenOrientation="portrait" />
        
         <!-- 学员登录Activity -->
         <activity android:name=".LoginActivity" android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        
         <!-- 主界面Activity -->
         <activity android:name=".MainActivity" android:screenOrientation="portrait" />
        
         <!-- 我的课程 -->
         <activity android:name=".MyCourseActivity" android:screenOrientation="portrait" />
        
         <!-- 我的课程资源 -->
         <activity android:name=".MyCourseLessonActivity" android:screenOrientation="portrait" />
         
         <!-- 播放 -->
         <activity android:name=".VideoPlayActivity" android:screenOrientation="landscape"/>
         
         <!-- 下载 -->
         <activity android:name=".DownloadActivity" android:screenOrientation="portrait" />
         
        
        <activity android:name=".TreatyActivity" android:screenOrientation="portrait" />
        
        <!-- <activity android:name=".RegSuccessActivity" android:screenOrientation="portrait" /> -->
        
        
        
        <activity android:name=".Class1Activity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        
        <activity android:name=".Class2Activity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        
        <activity android:name=".Class3Activity" android:screenOrientation="portrait" />
        
        <activity android:name=".ZuHeClassActivity"  android:screenOrientation="portrait" />
        
        <activity android:name=".ClassDetailActivity" android:screenOrientation="portrait" />
        
       <!--  <activity android:name=".QuestionMainActivity" android:screenOrientation="portrait" /> -->
        
        <activity android:name=".AnswerMainActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".AnswerAskActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".AnswerInfoActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".PlayrecordActivity"  android:screenOrientation="portrait" />
        
        <activity android:name=".SuggestionActivity" android:screenOrientation="portrait" />
        
       
        
       
        
        
        
        <activity android:name=".DowningActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".HelpActivity" android:screenOrientation="portrait" />
        
        <!-- <activity android:name=".QuestionFromCourseActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionPaperListActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionDoExamActivity" android:screenOrientation="portrait" /> -->
        <!--  <activity android:name=".QuestionDoExamActivity2" android:screenOrientation="portrait" /> -->
        <!--  <activity android:name=".QuestionPaperInfoActivity" android:screenOrientation="portrait" /> -->
        <!--  <activity android:name=".QuestionWriteNoteActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionMyNotebookActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionMyFavoriteActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionMyErrorsActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionRecordActivity" android:screenOrientation="portrait" /> -->
        <!--  <activity android:name=".QuestionChooseActivity" android:screenOrientation="portrait" /> -->
        <!-- <activity android:name=".QuestionCommonFirstActivity" android:screenOrientation="portrait" /> -->
        
        <activity android:name=".SettingActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".AboutusActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".DownFinishActivity" android:screenOrientation="portrait" />
        
        <activity android:name=".SearchActivity" android:screenOrientation="portrait" />
        
        <!-- vitamio初始化 -->
        <activity android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
           	android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name=".service.DownloadService" />

        <!-- <meta-data android:name="UMENG_APPKEY" android:value="5200476c56240bc53b029689" /> -->
        <!-- <meta-data android:name="UMENG_CHANNEL" android:value="youeclass.com" /> -->
    </application>

</manifest>